<header class="page-header" role="banner">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

  <nav class="main-nav">
    <a href="{{ site.baseurl }}/" class="nav-link">Início</a>
    <a href="{{ site.baseurl }}/sobre" class="nav-link">Sobre</a>
    </nav>

  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">Ver no GitHub</a>
  {% endif %}
</header>