---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%d" }} de
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      de {{ page.date | date: "%Y" }}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <hr>
  <h2>Comentários</h2>
  <script src="https://giscus.app/client.js"
        data-repo="rpg-studio-admin/rpg-studio-blog"
        data-repo-id="R_kgDOO6HPzw"
        data-category="Comments"
        data-category-id="DIC_kwDOO6HPz84Cra1J"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="pt"
        crossorigin="anonymous"
        async>
  </script>
  </article>